# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Expo / React Native
.expo/
.expo-shared/
.expo-dev/
web-build/
android/
ios/

# Metro / cache
.expo-cache/
.expo-staging/
.cache/
.tmp/

# Logs
*.log
logs/

# TypeScript
*.tsbuildinfo

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
coverage/
.dist/
